<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Stock Infomation</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Stock Name</label>

        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" placeholder="Stock Name" value="{{stock.name}}">
        </div>
      </div>
      <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Stock price</label>

        <div class="col-sm-6">
          <input type="number" class="form-control" id="price" placeholder="Stock Price" value="{{stock.price}}">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Stock rating</label>

        <div class="col-sm-10">
          <app-stars [(rating)]="stock.rating" [readonly]="false"></app-stars>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Stock Description</label>

        <div class="col-sm-8">
          <textarea class="form-control" rows="5">{{stock.desc}}</textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">Stock Categories</label>
        <div class="col-sm-10">
          <div class="row">
            <div class="checkbox col-sm-1">
              <label>
                <input type="checkbox"> IT
              </label>
            </div>
            <div class="checkbox col-sm-1">
              <label>
                <input type="checkbox"> Bank
              </label>
            </div>
            <div class="checkbox col-sm-1">
              <label>
                <input type="checkbox"> Game
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-default" (click)="cancel()">Cancel</button>
      <button type="submit" class="btn btn-info pull-right" (click)="save()">Submit</button>
    </div>
    <!-- /.box-footer -->
  </form>
</div>
